@model PagedList.IPagedList<PersonDirectory.DataAccess.Person>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "";
}

<h2>ფიზიკური პირები</h2>

<p>
    @Html.ActionLink("დამატება", "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink("დეტალური ძებნა","Search", null, new { @class = "btn btn-default" } )
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        სწრაფი ძებნა: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="ძებნა"  class="btn btn-default"/>
    </p>
}

@Html.Partial("_PersonsListPartial",Model)

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))